<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274112596634-akank7rgf7tl2bia1hqaj7ibp4sb1a74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274112596634-akank7rgf7tl2bia1hqaj7ibp4sb1a74</string>
	<key>API_KEY</key>
	<string>AIzaSyAKUyPDWYq74XMPgxm7MzPae8zVNw3HM74</string>
	<key>GCM_SENDER_ID</key>
	<string>274112596634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dummyapp</string>
	<key>PROJECT_ID</key>
	<string>test-c96ab</string>
	<key>STORAGE_BUCKET</key>
	<string>test-c96ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274112596634:ios:d3b99b1c600db7ca03ad23</string>
</dict>
</plist>